@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f0ffe9;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para o tema claro e escuro */
body.light-theme {
  background-color: #f0ffe9;
  color: #000;
}
body.dark-theme {
  background-color: #0d2a00;
  color: #fff;
  .carousel-button {
    background-color: #beeaab;
    color: #0d2a00;
  }
  header,
  footer {
    background-color: #021800;
  }
  #text-controls button {
    background-color: #a1e384;
    color: #000;
  }
}
/* Botao tema */
#theme-toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 15px;
  z-index: 1000;
}
#theme-toggle-container p {
  position: relative;
  top: 9px;
  margin-right: 10px;
  font-size: 16px;
  
  font-weight: bold;
  color: #1f6100;
  transition: color 0.3s ease;
}

body.light-theme #theme-toggle-container p {
  color: #1f6100;
}
body.dark-theme #theme-toggle-container p {
  color: #c6ffc3;
}

#theme-toggle {
  background-color: #1f6100;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 43px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-size: 30px;
}

#theme-toggle:hover {
  transform: scale(1.1);
}
#theme-toggle .sun {
  color: #f9d71c;
}

#theme-toggle .moon {
  color: #c3c3ff;
}

/* Animações */
.icon {
  opacity: 1;
}

.icon[style*="display: none"] {
  opacity: 0;
}

/* Estilo texto geral*/
p,
h1,
h2:hover {
  transition: 0.3s;
}

/* Estilo para o cabeçalho */
header nav {
  max-width: 2000px; 
  margin: 0 auto; 
  padding: 0 1rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header nav .logo-nav {
  text-align: center;
  width: 60px;
  border-radius: 20%;
}

header {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #43a117;
  color: #fff;
  padding: 1rem 0;
}

nav h1 {
  font-family: nunito;
  margin: 0;
  padding: 0;
  font-size: 1.5rem; 
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: 0.2s ease-in-out;
}
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0;
  height: 2px;
  background-color: #90ffa0; 
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #90ffa0; 
}

nav ul li a:hover::after {
  width: 100%; 
}

/* Estilo para os projetos de ações */
#nossas-acoes {
  padding: 20px;
}
#nossas-acoes h2 {
  text-align: center;
}
#nossas-acoes .texto {
  text-align: justify;
  margin-left: 8%;
  margin-right: 8%;
}

.cards-container {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #188821;
  color: white;
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  max-width: 250px;
  text-align: center;
}

.card img {
  max-width: 70%;
  width: 35%;
  border-radius: 10px;
  transition: 0.3s;
}
.card:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}
.card:hover p,
h2 {
  transform: scale(1, 1.1);
  transition: 0.3s;
}

/* Estilo para os atividades carrosel */
#nossas-atividades {
  padding: 20px;
  margin-top: 50px;
}

#nossas-atividades h2 {
  text-align: center;
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.carousel-item img {
  width: 50%;
  border-radius: 10px;
}
.carousel-item p {
  text-align: center;
  font-size: 1.2rem;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(24, 136, 33, 0.5);
  color: #188821;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Estilo par o Futuro Terreno */
#nosso-futuro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 20px;
  margin: 0 10px;
}
#nosso-futuro .terreno-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#nosso-futuro .text-terreno {
  max-width: 500px;
}
.text-terreno a{
  color: #000;
}
#nosso-futuro img {
  max-width: 43%;
  border-radius: 30px;
  margin-left: 20px;
}

/* Linha do tempo */
.linha-do-tempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 100px;
}
.linha-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  flex-wrap: wrap;
  padding: 20px;
}
.linha-item img {
  width: 400px;
  border-radius: 10px;
}
.titulo-tempo {
  flex: 1;
  text-align: right;
}
.texto-tempo {
  flex: 1;
  text-align: left;
}
.linha-vertical {
  width: 85%;
  height: 3px;
  background-color: #188821;
  border-radius: 50px;
}

/* Estilo para os textos de controle */
#text-controls {
  position: fixed;
  top: 85%;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateY(-50%);
  z-index: 1000;
}
#text-controls button {
  background-color: #188821;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#text-controls button:hover {
  background-color: #43a117;
  transform: scale(1.1);
}

/* Estilo para o rodapé */
footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #43a117;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-up img {
  width: 100px;
  border-radius: 10%;
}
footer .footer-down img {
  width: 70px;
  border-radius: 50%;
}

footer .linha-separadora {
  width: 50%;
  height: 2px;
  border-radius: 50%;
  margin: 10px 0;
  background-color: #fff;
}
.footer-content a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: 0.2s ease-in-out;
}
.footer-content a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0;
  height: 2px;
  background-color: #90ffa0; 
  transition: width 0.3s ease-in-out;
}
.footer-content a:hover {
  color: #90ffa0; 
}

.footer-content a:hover::after {
  width: 100%; 
}

/* Media query para telas maiores que 2000px */
@media (min-width: 2000px) {
  body {
    max-width: 2000px;
    margin: 0 auto; 
  }
  header,footer{
    width: 100vw;
  }

  #text-controls {
    position: fixed;
    right: calc((100% - 2000px) / 2 + 20px); /* Alinha com o layout centralizado */
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(-50%);
    z-index: 1000;
  }


}
/* Media query para telas menores que 768px */
@media (max-width: 768px) {
  header nav {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  nav ul {
    align-items: center;
    gap: 1px;
    margin-top: 1rem;
  }
  nav ul li {
    margin-bottom: 0.5rem;
  }

  .logo-nav {
    margin-top: 1rem;
  }
  /* Ajustes no Carousel */
  .carousel-container {
    width: 100%;
    padding: 0 10px; 
  }

  .carousel-item img {
    width: 80%; 
  }

  .carousel-item p {
    font-size: 1rem; 
  }

  .carousel-button {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .carousel-button.prev {
    left: 10px; 
  }

  .carousel-button.next {
    right: 10px; 
  }

  #nosso-futuro {
    flex-direction: column;
    text-align: center;
  }
  #nosso-futuro .text-terreno {
    margin-left: 0;
    margin-top: 20px;
  }
  #nosso-futuro img {
    margin-top: 10px;
    max-width: 55%;
  }

  .linha-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .titulo-tempo,
  .texto-tempo {
    text-align: center;
  }
  .linha-item img{
    max-width: 100%;
  }


}
@media (max-width: 965px) {

  #nosso-futuro {
    flex-direction: column;
    text-align: center;
  }
  #nosso-futuro .text-terreno {
    margin-left: 0;
    margin-top: 20px;
  }
  #nosso-futuro img {
    margin-top: 10px;
    max-width: 55%;
  }
  .linha-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .titulo-tempo,
  .texto-tempo {
    text-align: center;
  }
  .linha-item img{
    max-width: 100%;
  }
}